@font-face {
    font-family: myfont;
    letter-spacing: 1.5vw;
    src: url(./Assets/ClashDisplay/ClashDisplay-Regular.woff);
}

:root {
    --s-color: rgb(6, 6, 6);
    --p-color: rgb(233, 233, 233);
    --p-fontSize: 1.1vw;
}

* {
    font-family: myfont, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

#cursor {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

#main {
    overflow-x: hidden;
    width: 100%;
    background-color: var(--s-color);
}

a {
    text-decoration: none;
    color: var(--p-color);
}


/* -------------START OF HERO SECTION-------------- */

#hero-section {
    padding: 2.5vw;
    width: 100%;
    height: 100vh;
    color: var(--p-color);
}

#nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    text-decoration: none;
    color: var(--p-color);
    font-size: var(--p-fontSize);
    font-weight: 600;
}

#menu {
    font-size: var(--p-fontSize);
}

#menu:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu {
    display: none;
    position: absolute;
    right: 3vw;
    font-weight: 700;
    gap: 1.8vw;
}

.menu.is-open {
    display: flex;
}

#hero-content {
    margin-top: 5vw;
}

#title1 {
    color: var(--p-color);
    font-size: 10vw;
    letter-spacing: 0.5vw;
    font-weight: 600;
    line-height: 8vw;
}

#title2 {
    position: relative;
    left: 55vw;
    top: 2vh;
    font-size: var(--p-fontSize);
}

#right-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    top: 15vh;
}

#right-content h3 {
    font-size: var(--p-fontSize);
}


#hero-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 35vh;
    font-size: var(--p-fontSize);
}

#hero-bottom h3 {
    font-size: var(--p-fontSize);
    display: inline-block;
}

#hero-bottom h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

#hero-bottom i {
    color: var(--p-color);
    font-size: 1.5vw;
    position: relative;
    top: 0.2vw;
}

#down-arrow {
    display: flex;
    gap: 0.5vw;
}

#arrow {
    background-color: var(--p-color);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

#arrow i {
    color: var(--s-color);
}

/* ------------------END OF HERO SECTION------------------- */

/* ----------------START OF PROJECT SECTION-------------------- */

#project-section {
    width: 100%;
    background-color: var(--s-color);
    margin-right: 20px;
    margin-top: 100px;
    padding: 2.5vw;
    padding-right: 10vw;
}

.projekts {
    position: relative;
    width: 100%;
    border-top: 1px solid rgb(156, 156, 156);
    padding-top: 8vh;
    padding-bottom: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.projekts img {
    border-radius: 1.5vw;
    width: 50vw;
    opacity: 0;
    position: absolute;
    z-index: 50;
    will-change: transform, opacity;
    pointer-events: none;
}

#projekts {
    border-bottom: 1px solid rgb(156, 156, 156);
}

.project-title {
    color: var(--p-color);
    font-size: 3.2vw;
    font-weight: 600;
}

.project-title h1 {
    display: inline-block;
    transition: transform 0.36s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.32s ease;
}

/* dim the project text when hovering the project item */
.projekts .project-title,
.projekts .date {
    transition: opacity 0.4s ease;
}

.projekts:hover .project-title,
.projekts:hover .date {
    opacity: 0.35;
}

.projekts:hover .project-title h1 {
    transform: translateX(1.8vw);
}

.date h3 {
    color: var(--p-color);
    font-size: 1vw;
    font-weight: 600;
}

/* --------------END OF PROJECT SECTION---------------- */

/* ----------------START OF PROFILE SECTION-------------------- */
#profile-section {
    width: 100%;
    background-color: var(--s-color);
    padding: 2.5vw;
    margin-top: 200px;
}

#content {
    color: var(--p-color);
    display: flex;
    gap: 4vw;
    align-items: center;
    padding: 5vh 15vw;
}

#profile-pic {
    margin-left: 15vw;
}

#profile-pic img {
    width: 15vw;
    border-radius: 50%
    
}

#info {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#para {
    font-size: var(--p-fontSize);
    line-height: 1.5vw;
    letter-spacing: 0.1vw;
    color: var(--p-color);
}

button {
    width: 10vw;
    background-color: transparent;
    color: var(--p-color);
    border: 2px solid var(--p-color);
    padding: 2vh 2vw;
    font-size: var(--p-fontSize);
    cursor: pointer;
    border-radius: 2vw;
}

button:hover {
    transition: ease-in-out 0.3s;
    background-color: var(--p-color);
    color: var(--s-color);
}


#extras {
    margin-top: 100px;
    color: var(--p-color);
}

#extras h2 {
    font-size: var(--p-fontSize);
    opacity: 0.6;
}

#extras h3 {
    display: inline-block;
    font-size: var(--p-fontSize);
    font-weight: 600;
}

#extras i {
    font-size: 1.5vw;
    position: relative;
    top: 0.2vw;
}


.topScroll {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 88vw;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

.topScroll:hover {
    transform: scale(1.5);
}

.ri-arrow-up-line {
    font-size: 35px;
    color: var(--s-color);
}
/* ----------------END OF PROFILE SECTION------------------ */

/* ----------------START OF FOOTER SECTION-------------------- */

#footer-section {
    width: 100%;
    padding: 2.5vw;
    color: var(--p-color);
    margin-bottom: 4vh;
}

#footer-content {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 3vw;
}